/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");


:root {
    --bg-color : #1D3557;
    --main-color : #FCA311;
    --secondary-color : #F1FAEE;
    --font-color: #fff;
}

body {
    background-color: var(--bg-color);
    color: var(--font-color);
    font-size: var(--font-size);
}

html {
    scroll-behavior: smooth;
}

#btn {
    background-color: var(--main-color);
    color: var(--font-color);
    width: 160px;
    font-weight: bold;
}
#btn:hover, #btn:active {
    background-color: var(--font-color);
    color: var(--main-color);
}

select option {
    background-color: rgba(29, 53, 87, 0.8);
    color: var(--font-color);
}

li {
    font-size: 1.2rem;
}

@media screen and (max-width: 770px) {
    li {
        width: 80%;
    }
}

@media screen and (min-width: 770px) {
    li {
        width: 50%;
    }
}

.check {
    color: var(--main-color);
    font-weight: bold;
}

.delete {
    color: var(--main-color);
}
